{% extends "base.html" %}
{% load static %}

{% block athkar %}

<div class="container align-items-center justify-content-end mt-4 ">
    {% for i in num %}
        <div class="row align-items-center mb-4 border rounded-3 p-1">
            {% if i.REPEAT > 1 %}
                <div class="col align-items-center p-3 " dir="rtl">
                    {{ i.ARABIC_TEXT }}
                </div>
                <div class="col-lg-5 col-xs-12 d-flex text-center bg-primary rounded-3 p-3 ms-0 me-3 my-3">
                    <button type="button" class="btn n col-xs-2">
                        <img src="/static/imgs/restart.svg" alt="restart icon" width="20px">
                    </button>
                    <button type="button" class="btn col-xs-10 btn-warning b w-100"> {{ i.REPEAT }} </button>
                </div>
            {% else %}
                <p dir="rtl"> {{ i.ARABIC_TEXT }} </p>
            {% endif %}
        </div>
    {% endfor %}
</div>
<script src="{% static 'script.js' %}"></script>
<script>
    var list = [];
    const btn_num = document.getElementsByClassName("b");
    const btn_reset = document.getElementsByClassName("n");
    btn(btn_num,list,btn_reset)
</script>
{% endblock %}

{% block soru %}
    {% if user == 0 %}
        <div class="col-md-3 d-flex flex-wrap align-items-center justify-content-center">
            <a href="{% url 'main' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                home
            </a>
            <a href="{% url 'signup' %}" class="btn btn-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                signup
            </a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                login
            </a>
        </div>
    {% else %}
        <div class="col-md-3 d-flex flex-wrap align-items-center justify-content-center">
            <a href="{% url 'profile' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                profile
            </a>
            <a href="{% url 'add' %}" class="btn btn-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                yours
            </a>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                logout
            </a>
            <a href="{% url 'main' %}" class="btn btn-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                home
            </a>
        </div>
    {% endif %}
{% endblock %}
