{% extends "base.html" %}
{% load static %}

{% block athkar %}

<div class="container align-items-center justify-content-end mt-4 ">
    {% for i in num %}
    <div class="row align-items-center mb-4 border rounded-3">
        <div class="col align-items-center p-3 text" dir="rtl">
            {{ i.ARABIC_TEXT }}
        </div>
        <div class="col-5 text-center  border-warning border-start border-4 bg-primary rounded-start-1 rounded-3 mw-100 justify-content-center align-items-center">
            <div class="row align-items-center p-1">
                <button type="button" class="btn btn-warning b">{{ i.REPEAT }}</button>
            </div>                 
            <div class="row align-items-center">
                <div class="col ">
                    <button type="button" class="btn n">
                        <img src="{% static 'imgs/restart.svg' %}" alt="restart icon" width="30px">
                    </button>
                </div>
                <div class="col text-warning">
                    {{ i.REPEAT }}
                </div> 
                <div class="col">
                    {{ forloop.counter }}
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{% static 'script.js' %}"></script>
<script>
    var list = [];
    const btn_num = document.getElementsByClassName("b");
    const btn_reset = document.getElementsByClassName("n");
    btn(btn_num,list,btn_reset)
</script>
{% endblock %}

{% block soru %}
    {% if user == 0 %}
        <div class="col-md-3 d-flex flex-wrap align-items-center justify-content-center">
            <a href="{% url 'main' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                home
            </a>
            <a href="{% url 'signup' %}" class="btn btn-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                signup
            </a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                login
            </a>
        </div>
    {% else %}
        <div class="col-md-3 d-flex flex-wrap align-items-center justify-content-center">
            <a href="{% url 'profile' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                profile
            </a>
            <a href="{% url 'add' %}" class="btn btn-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                yours
            </a>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                logout
            </a>
            <a href="{% url 'main' %}" class="btn btn-primary m-1" tabindex="-1" role="button" aria-disabled="true">
                home
            </a>
        </div>
    {% endif %}
{% endblock %}